<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.cafeguidebook.mapper.CafeMapper">
  <insert id="insertCafe" parameterType="com.flab.cafeguidebook.dto.CafeDTO">
    INSERT INTO CAFE(cafe_id,
                     user_id,
                     cafe_name,
                     biz_number,
                     tel,
                     address_code,
                     address_detail,
                     operating_time,
                     cafe_info,
                     social_media,
                     registration_date,
                     update_date,
                     wifi,
                     reservation,
                     parking_space,
                     no_kids_zone,
                     with_pet,
                     cafe_condition,
                     cafe_registration)
    VALUES (#{cafeId},
            #{userId},
            #{cafeName},
            #{bizNumber},
            #{tel},
            #{addressCode},
            #{addressDetail},
            #{operatingTime},
            #{cafeInfo},
            #{socialMedia},
            now(),
            now(),
            #{wifi},
            #{reservation},
            #{parkingSpace},
            #{noKidsZone},
            #{withPet},
            #{cafeCondition},
            #{cafeRegistration})
  </insert>

  <select id="selectMyAllCafe" parameterType="String"
    resultType="com.flab.cafeguidebook.dto.CafeDTO">
    SELECT *
    FROM cafe
    WHERE user_id = #{userId}
  </select>

  <select id="isMyCafe" resultType="boolean" parameterType="map">
    SELECT EXISTS
             (SELECT cafe_name FROM cafe WHERE cafe_id = #{cafeId} AND user_id = #{userId})
  </select>

  <select id="selectMyCafe" resultType="com.flab.cafeguidebook.dto.CafeDTO"
    parameterType="map">
    SELECT *
    FROM cafe
    WHERE cafe_id = #{cafeId}
      AND user_id = #{userId}
  </select>

  <delete id="deleteAllCafe">
    DELETE
    FROM CAFE;
  </delete>

  <update id="updateCafe" parameterType="com.flab.cafeguidebook.dto.UpdateCafeDTO">
    UPDATE cafe
    SET
    <if test="cafeName != null">cafe_name = #{cafeName},</if>
    <if test="tel != null">tel = #{tel},</if>
    <if test="addressCode != null">address_code = #{addressCode},</if>
    <if test="addressDetail != null">address_detail = #{addressDetail},</if>
    <if test="operatingTime != null">operating_time = #{operatingTime},</if>
    <if test="cafeInfo != null">cafe_info = #{cafeInfo},</if>
    <if test="socialMedia != null">social_media = #{socialMedia},</if>
    <if test="wifi != null">wifi = #{wifi},</if>
    <if test="reservation != null">reservation = #{reservation},</if>
    <if test="parkingSpace != null">parking_space = #{parkingSpace},</if>
    <if test="noKidsZone != null">no_kids_zone = #{noKidsZone},</if>
    <if test="withPet != null">with_pet = #{withPet},</if>
    update_date = now()
    WHERE cafe_id = #{cafeId}
  </update>
</mapper>

