<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.cafeguidebook.mapper.CafeMapper">
  <insert id="insertCafe" parameterType="com.flab.cafeguidebook.dto.CafeDTO">
    INSERT INTO CAFE(user_id,
                     cafe_name,
                     biz_number,
                     tel,
                     address_code,
                     address_detail,
                     operating_time,
                     cafe_info,
                     social_media,
                     registration_date,
                     update_date,
                     wifi,
                     reservation,
                     parking_space,
                     no_kids_zone,
                     with_pet,
                     cafe_condition,
                     cafe_registration)
    VALUES (#{userId},
            #{cafeName},
            #{bizNumber},
            #{tel},
            #{addressCode},
            #{addressDetail},
            #{operatingTime},
            #{cafeInfo},
            #{socialMedia},
            now(),
            now(),
            #{wifi},
            #{reservation},
            #{parkingSpace},
            #{noKidsZone},
            #{withPet},
            #{cafeCondition},
            #{cafeRegistration})
  </insert>

  <delete id="deleteCafe">
    DELETE
    FROM cafe
    WHERE cafe_id = #{cafeId}
  </delete>

  <update id="updateRegistration">
        UPDATE CAFE SET cafe_registration = #{cafeRegistration}
        WHERE cafe_id = #{cafeId}
    </update>
</mapper>

