<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.cafeguidebook.mapper.ReviewMapper">
  <delete id="deleteReview">
    DELETE
    FROM review
    WHERE cafe_id = #{cafeId}
      AND user_id = ${userId}
  </delete>

  <insert id="insertReview">
    INSERT INTO review (user_id, cafe_id, content, score)
    VALUES (#{review.userId}, #{cafeId}, #{review.content}, #{review.score})
  </insert>

  <select id="selectCafesReviews" resultType="com.flab.cafeguidebook.dto.ReviewDTO">
    SELECT id, user_id, cafe_id, content, score, create_at
    FROM review
    WHERE cafe_id = #{cafeId}
  </select>

  <select id="selectReviews" parameterType="Long"
    resultType="com.flab.cafeguidebook.dto.ReviewDTO">
    SELECT id, user_id, cafe_id, content, score, create_at
    FROM review
    WHERE user_id = #{userId}
  </select>
</mapper>
